body {
    background-color: #FFF8EA;
  }

  hr {
    border: #815B5B;
    border-style: dotted none none;
    border-width: 5px;
    width: 50%;

    
  }

  h1 {
    color: #594545;
    font-family: 'JetBrains Mono', cursive;
    /* font-size: 40px; */
    text-align: center;
  }


    h2 {
        color: #815B5B;
        font-family: 'JetBrains Mono', cursive;
        font-size: 30px;
        text-align: center;
    }

    h3 {
        color: #815B5B;
        font-family: 'JetBrains Mono', cursive;
        font-size: 20px;
        text-align: center;
    }

    h4 {
        color: #815B5B;
        font-family: 'JetBrains Mono', cursive;
        font-size: 15px;
        text-align: center;
    
    }
    
    h5 {
        color: #815B5B;
        font-family: 'JetBrains Mono', cursive;
        font-size: 10px;
        text-align: center;
    
    }
    
    h6 {
        color: #815B5B;
        font-family: 'JetBrains Mono', cursive;
        font-size: 5px;
        text-align: center;
    
    }
    a {
        color: #9E7676;
        font-family: 'JetBrains Mono', cursive;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
    }
    p {
        color: #815B5B;
        font-family: 'JetBrains Mono', cursive;
        font-size: 15px;
        text-align: center;
        list-style: none;
    }

    /* CLASS SELECTORS */
    /* - :..  Önünde iki nokta bulunan selectorler pseudo selectorler olarak geçer ve özeldirler
       - Örneğin fare imleci üzerine gelindiğinde veya tıklanıldığında gibi durumlarda kullanılırlar.
    */
    .avatar-img:hover{
        border-radius: 50%;
        border: 5px solid #815B5B;
        box-shadow: 0 0 10px #815B5B;

    }